@import 'variables';

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    background-color: $primary-blue;
    color: $white;
    flex-direction: column;
    
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $gold;
        cursor: pointer;
      }
    }
  }

#logo {
  letter-spacing: 2px;
  font-size: 24px;
  font-family: $font-logo;
  font-weight: 300;
  text-align: center;
  span {
    font-weight: 500;
  }
}

#nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  margin-top: 10px;
  
  li {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    line-height: 24px;
  }
}

// ===== DESKTOP STYLES ===== //
@media screen and (min-width: $tablet) {
  #navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  #nav-links {
    margin-top: 0;
  }
}
