@import 'variables';

// ===== GENERAL STYLING ===== //
.info-section {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .info-content {
    margin-bottom: 20px;
    text-align: justify;
    p {
      margin: 10px 0;
      margin-bottom: 20px;
    }

    .info-subcontent {
      .info-subcontent-section {
        margin-bottom: 20px;
        .section-icon {
          font-size: 4em;
          float: left;
          margin-right: 20px;
          margin-bottom: 10px;
        }
        h3 {
          font-size: 1.25em;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 0;
          padding: 0;
          text-indent: 0;
        }
      }
    }
  }

  .info-image {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      border: none;
    }
  }
}

.page-title {
  text-align: center;
  font-size: 3em;
  margin: 40px;
}

hr {
  border: none;
  height: 2px;
  position: relative;
  background: $primary-blue;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 40px;
  width: 50%;
}

// Grey Background Sections
#description, #work, #family {
  background-color: $light-grey;
}

// ===== DONATE SECTION ===== //
#donation-options {
  display: flex;
  flex-direction: column;
  .donation-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 1.5em;
      margin: 10px 0;
    }
    a {
      max-width: 75%;
      margin: 10px;
      img {
        max-width: 100%;
      }
    }
  }
}

// ===== CONTACT SECTION ===== //
#contact {
  display: flex;
  flex-direction: column;
  background-color: $gold;
  text-align: center;
  color: $dark-blue;
  padding: 40px;
  
  h2 {
    font-size: 2em;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;

    label {
      align-self: flex-start;
      margin-top: 10px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
    }
  }

  #form-errors {
    color: #d60000;
    line-height: 1.5;
  }

  #submit-button {
    margin-top: 20px;
    background-color: $dark-blue;
    color: $white;
    padding: 10px 20px;
    border: none;
    
    &:hover {
      cursor: pointer;
      background-color: darken($dark-blue, 20%);
    }
  }

  #thank-you {
    display: none;
    font-size: 1.5em;
  }

}

// ===== DESKTOP STYLES ===== //

@media screen and (min-width: $tablet) {
  
  .info-section {
    flex-direction: row;
    align-items: center;
    .info-content {
      flex: 1;
      padding: 20px;
      .info-subcontent {
        display: flex;
        justify-content: space-between;
  
        .info-subcontent-section {
          display: flex;
          flex-direction: column;
          flex: 0 0 32%;
          background-color: $light-grey;
          padding: 20px;
          h3 {
            order: 1;
            text-align: center;
          }
          .section-icon {
            order: 2;
            text-align: center;
            float: none;
            margin: 10px;
          }
          p {
            order: 3;
          }
        }
      }
    }
    .info-image {
      flex-shrink: 0;
      padding: 20px;
      max-width: 35%;
      img {
        height: auto;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  hr {
    width: 25%;
  }

  // DONATE SECTION ON A DESKTOP //
  #donate {

    .info-section {
      flex: 0 0 33%;
    }

    #donation-options {
      flex: 0 0 67%;
      flex-direction: row;

      .donation-option {
        flex: 0 0 33%;
        text-align: center;
      }
    }
  }

  // CONTACT FORM ON DESKTOP //

  #contact-form {
    max-width: 500px;
  }

  // OUR WORK SECTION //
  #work {
    .info-image {
      max-width: 50%;
      flex: 1;
    }
    .info-content {
        order: 2;
        max-width: 50%;
    }
  }
}

// .page-title {
//   font-size: 3em;
//   text-align: center;
//   margin: 40px;
// }

// .page-subtitle {
//   text-align: center;
//   margin-top: -30px;
// }

// #introduction {
//   padding: 10px 20px;
//   text-align: center;
//   @media (min-width: $tablet) {
//     padding: 10px 10vw;
//   }
// }

// .section-icon {
//   font-size: 4em;
//   margin: 20px;
//   color: $dark-blue;
// }

// .info-section {
//   display: flex;
//   align-items: stretch;
//   padding: 20px;
//   text-align: center;
//   margin: auto;

//   .info-content {
//     flex: 0 0 100%;
//     padding-right: 20px;
//     margin-bottom: 20px;
//     text-align: left;
    
//     p {
//       margin-bottom: 20px;
//     }

//     @media (min-width: $tablet) {
//       flex: 0 0 65%;
//       padding-right: 0;
//       margin: 0 20px;
//       margin-bottom: 0;
//     }
//   }

//   .info-image {
//     flex: 0 0 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 20px;
//     img, iframe {
//       max-width: 100%;
//     }

//     @media (min-width: $tablet) {
//       flex: 0 0 30%;
//       margin-left: 20px;
//       margin-right: 0;
//     }
//   }

//   @media (min-width: $tablet) {
//     flex-direction: row;
//     justify-content: space-between;
//     padding: 40px 10vw;
//   }
// }


// #work {
//   .info-image {
//     @media (min-width: $tablet) {
//       flex: 0 0 45%;
//     }
//   }
//   .info-content {
//     @media (min-width: $tablet) {
//       flex: 0 0 55%;
//     }
//   }
// }

// #budget {
//   background: $light-grey;
//   padding: 20px;
//   display: flex;

//   .info-content,
//   .info-budget {
//     width: 100%;
//     flex: 1;
//     .progress-wrap {
//       width: 100%;
//       margin: 10px 0;
//     }
//   }

//   .info-budget {
//     .category {
//       width: 100%;
//       margin: 10px 0;

//       label {
//         display: block;
//         font-size: 0.8em;
//         margin-bottom: 5px;
//       }

//       progress {
//         width: 100%;
//         height: 20px;
//       }
//     }

//     #budgetChart {
//       margin: 10px;
//     }
//   }

//   @media (min-width: 768px) {
//     .info-content,
//     .info-budget {
//       box-sizing: border-box;
//     }

//     .info-budget {
//       .category {
//         width: 50%;
//         margin: 10px auto;
//       }
//     }
//   }
// }

// #description, #work, #family, #monthly {
//   background-color: $light-grey;
// }
// #description .info-content {
//   flex: 0 0 50%;
//   margin-right: 20px;
// }

// #description .info-content:last-child {
//   margin-right: 0;
// }

// #donation-options {
//   display: flex;
//   justify-content: space-between;
//   align-items: stretch;
//   flex-wrap: wrap;
//   padding: 20px;

//   .donation-option {
//     flex: 1 1 auto;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     margin: 10px;
//     max-width: 25%;

//     h3 {
//       font-size: 1.5em;
//       margin-bottom: 10px;
//     }

//     a {
//       display: inline-block;
//       color: $dark-blue;
//       padding: 10px 20px;
//       text-decoration: none;

//       img {
//         max-width: 100%;
//         height: auto;
//       }
//     }
//   }
// }

// #donate .info-content {
//   flex: 0 0 20%;
//   margin-right: 20px;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;

//   @media (min-width: $tablet) {
//     flex: 0 0 calc(33.33% - 20px);
//   }

//   &:last-child {
//     margin-right: 0;
//   }
// }
  


//   #impact.info-section, #one-time.info-section {
//     .info-stories {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       text-align: center;
  
//       h2 {
//         font-size: 2em;
//       }
  
//       .impact-stories {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         gap: 20px;
//         margin-top: 20px;
  
//         .impact-story {
//           flex: 0 0 calc(33.33% - 20px);
//           background-color: $light-grey;
//           padding: 20px;
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           text-align: center;
  
//           .image-wrapper {
//             width: 100%;
//             max-height: 200px;
//             overflow: hidden;
  
//             img {
//               width: 100%;
//               height: 100%;
//               object-fit: cover;
//             }
//           }
  
//           h3 {
//             font-size: 1.5em;
//             margin-bottom: 10px;
//           }
  
//           p {
//             font-size: 1.2em;
//             line-height: 1.5;
//           }
//         }
//       }
//     }
//   }