$primary-blue: #00004b;
$dark-blue: #000033;
$light-blue: #3e64ff;
$white: #ffffff;
$gold: #d4af37;
$off-white: #f6f6f6;
$light-grey: #f5f5f5;

$font-lato: 'Lato', sans-serif;
$font-logo: 'Alegreya Sans SC', 'Lato', sans-serif;
$font-headings: 'Abril Fatface', 'Alegreya Sans SC', 'Lato', sans-serif;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
