<!DOCTYPE html>
<html>
  <head>
    <title>VFM | {{ page.title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
      (function(){
          emailjs.init("XCUw7zYjR_2faxZRn"); // Replace "YOUR_USER_ID" with your EmailJS user ID
      })();
    </script>
    
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      {{ content }}
    </div>
    {% include contact.html %}
    {% include footer.html %}
    <script src="{{ site.baseurl }}/js/progress.js"></script>
    <script src="{{ site.baseurl }}/js/contactForm.js"></script>
  </body>
</html>